Response_mode and endpoint modeling

The spec uses `response_mode=id_token`. The values of `response_mode` are `query`, `fragment`, and `form_post`. The values of `response_type` are `code`, `token`, `id_token`, and `none`. More importantly, these are both parameters of OAuth authorization endpoints.

FedCM is most similar to [section 6 of RFC 6749](https://datatracker.ietf.org/doc/html/rfc6749#section-6) "Refreshing an Access Token". FedCM is a request to a non-interactive endpoint that is not expected to be rendered in a browser window. In the current profile, it says: "This request is effectively equivalent to an OAuth request with the OpenID Connect `prompt=none` parameter [...]", but that's not quite right. Compare:

| Mode | Browser DOM+Javascript | UI |
| Authorization Endpoint w/o prompt | Yes | Yes |
| Authorization Endpoint w/ `prompt=none` | Yes | No |
| Token Endpoint | No | No |
| FedCM | No | No |

The token endpoint parameter for this purpose is `requested_token_type` from [RFC 8693](https://www.rfc-editor.org/rfc/rfc8693.html#name-token-type-identifiers). This specification defines values like `urn:ietf:params:oauth:token-type:access_token`, `urn:ietf:params:oauth:token-type:refresh_token`, and `urn:ietf:params:oauth:token-type:id_token`. 

Then, the OAuth FedCM Profile could use this parameter and define a new value `urn:ietf:params:oauth:token-type:authorization_code` to support the usage suggested in the profile while simultaneously supporting usages like `requested_token_type=urn:ietf:params:oauth:token-type:access_token` and `requested_token_type=urn:ietf:params:oauth:token-type:id_token` (replacing `response_mode=id_token` from the current doc).
